.form {
  margin-bottom: 50px;
  color: #222222;
}

.form h1 {
  font-size: 36px;
  font-weight: 600;
}

.form-buttons {
  display: flex;
  flex-direction: column;
}

.form-buttons button {
  width: fit-content;
  border: none;
  color: #222222;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-size: 24px;
  padding: 0;
  margin: 10px 0;
  transition: all .1s;
}

.form-buttons span {
  font-style: italic;
  font-size: 22px;
}

.form-buttons button:hover {
  background-color: #222222;
  color: #eeeeee;
}